
.Product{
    max-width: 70%;
    margin: 3rem auto 3rem;
}

.Product .features{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #FAFAFA;
    padding: 2rem;
}

.Product .features .text{
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}

.Product .features .text h3{
    margin-bottom: 1rem;
}

.Product .features .text p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Product button{
    cursor: pointer;
    background: #E1AE70;
    color: #FCFCFC;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 50%;
    padding: 1rem 0;
    transition: all 0.7s;
}

.Product button:hover{
    opacity: 0.9;
}

@media(max-width: 900px){
        
    .Product{
        max-width: 90%;
        margin: 5rem auto 3rem;
    }

    .Product .features{
        display: block;
        max-width: 100%;
        margin: auto;
        text-align: center;
    }

    .Product .features img{
        max-width: 50%;
        margin: 1rem auto 2rem;
    }

    .Product .features .text{
        text-align: center;
        margin-left: 0;
    }

    .Product button{
        width: 80%;
    }
}